@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

/* Targets the scrollbar itself */
::-webkit-scrollbar {
  width: 4px; /* Adjust the width of the scrollbar */
}

/* Targets the draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: darkgrey; /* Color of the draggable part */
  border-radius: 10px; /* Optional: adds rounded corners to the scrollbar thumb */
}

/* Targets the part of the scrollbar track where the thumb is not present */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the rest of the scrollbar track */
}
